.background-div{
    background: #818181;
}

.home-background{
    background: #818181;
}

.recipe-card{
    border: #818181 solid 5px;
}

.img-card{
    align-items: center;
}

.recipe-img{
    max-height: 90vh !important;
    width: 66%;
}